RateLimit: https://pypi.org/project/ratelimit/
		   pip install ratelimit

PyYAML: https://pyyaml.org/wiki/PyYAMLDocumentation
		pip install pyyaml

GitPython: https://gitpython.readthedocs.io/en/stable/intro.html
		   pip install gitpython
    
Request: sudo pip install requests

wget: pip install wget

zipfile: pip install zipfile36

numpy: pip install numpy


Needs to be checked:
Radon: https://pypi.org/project/radon/

Levenstein: https://pypi.org/project/python-Levenshtein/
	    pip install python-Levenshtein